<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Candlestick Screener</title>
  <style>
    body {
      font-family: arial; margin: 20px;
    }
  </style>
</head>
<body>
  <h1>Candlestick Screener</h1>

  <form action="">
    <select name="pattern">
      <option value="doji">doji</option>
      <option value="engulfing">engulfing</option>
      <option value="3 black crows">3 black crows</option>
    </select>
    <input type="submit" value="scan">
  </form>
  {{patterns}}
</body>
</html>